<div style="display: flex; justify-content: center">
  <p style="font-size: 25px; color: purple">Template Ref. Variables</p>
</div>

<mat-form-field appearance="outline">
  <mat-label>Enter Something</mat-label>
  <input matInput #inputValue />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Enter Something</mat-label>
  <input matInput #y />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Enter Something</mat-label>
  <input matInput (input)="onInput($event)" />
</mat-form-field>

<button mat-raised-button (click)="getInputValue(y.value)">click Me</button>
<p>{{ message }}</p>
