<div style="display: flex; justify-content: center">
  <p style="font-size: 25px; color: purple">Class Binding (class => view)</p>
</div>

<!-- <div class="myTextSize">
  Lorem ipsum dolor sit amet consectetur adipisicing satish. Pariatur neque hic,
  consequatur
</div> -->
<div [class]="textSize">
  Lorem ipsum dolor sit amet consectetur adipisicing satish. Pariatur neque hic,
  consequatur
</div>

<div [class]="textColor">
  Lorem ipsum dolor sit amet consectetur adipisicing RSK. Pariatur neque hic,
  consequatur
</div>
<div [ngClass]="myGroupClasses">
  Lorem ipsum dolor sit amet consectetur adipisicing RSK. Pariatur neque hic,
  RSK consequatur
</div>
